:root {
  /* For margot fun, all primary and secondary are light colors */
  --primary-color: #87D2E8;
  --secondary-color-1: #F09989;
  --secondary-color-2: #F0C431;
  --neutral-color: #173150;
  --neutral-soft-color: #768597;
  --neutral-light-color: #F0E7DC;
  --main-text-fontsize: 17px;
  --main-text-fontfamily: "Nunito", sans-serif;
  --main-title-fontfamily: 'Nunito', sans-serif;
}