{% if user_is_admin %}
    <form action="{{ path('pin_content') }}" method="post">
        <input type="hidden" name="content_id" value="{{ content.id }}">
        <button type="submit">{{ action == 'pin' ? 'Épingler' : 'Désépingler' }}</button>
    </form>
{% endif %}
